/*reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0; }

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body, html {
  height: 100%; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  line-height: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0;
  max-width: 100%; }

a {
  outline: none;
  text-decoration: none; }

ul {
  list-style-type: none; }

table {
  border-collapse: collapse; }

/*end reset*/
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }

@font-face {
  font-family: 'HelveticaNeueCyr-Roman';
  src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Light';
  src: url(../fonts/HelveticaNeueCyr-Light.ttf);
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "HelveticaNeueCyr-Roman";
  font-size: 20px;
  color: #494949;
  background: #eaeef1;
  position: relative;
  overflow-x: hidden;
  min-width: 320px; }

a {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #0fa5eb; }
  a:hover {
    opacity: .8;
    color: #0fa5eb;
    text-decoration: none; }

.g-container {
  max-width: 1260px;
  min-width: 320px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 767px) {
    .g-container {
      max-width: 100%; } }

.g-title {
  font-size: 1.8em;
  margin-bottom: 25px; }

.g-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.g-auth-page {
  background: url(../images/auth-bg.png) no-repeat center center #eaeef1;
  background-size: auto 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.g-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 64px;
  padding: 5px 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: "HelveticaNeueCyr-Bold";
  font-size: .7em;
  color: #0cb4a5;
  border: 1px solid #0cb4a5;
  border-radius: 32px;
  min-width: 156px;
  text-transform: uppercase; }
  .g-button:hover {
    opacity: .8;
    color: #0cb4a5; }
  .g-button.green {
    background-color: #0cb4a5;
    color: #fff;
    -webkit-box-shadow: 0 0 12px 6px rgba(154, 214, 209, 0.7);
    box-shadow: 0 0 12px 6px rgba(154, 214, 209, 0.7); }
    .g-button.green:hover {
      color: #fff; }
  .g-button.add {
    background: url(../images/ic-add.png) no-repeat center #0cb4a5;
    color: #fff;
    -webkit-box-shadow: 0 0 12px 6px rgba(154, 214, 209, 0.7);
    box-shadow: 0 0 12px 6px rgba(154, 214, 209, 0.7);
    min-width: 64px; }
    .g-button.add:hover {
      color: #fff; }

.b-authorization {
  width: 100%;
  max-width: 615px;
  margin: 0 auto;
  background-color: #fff;
  padding: 83px 16px;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 12px 4px rgba(216, 216, 216, 0.5);
  box-shadow: 0 0 12px 4px rgba(216, 216, 216, 0.5); }
  .b-authorization:before {
    content: '';
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    border-radius: 50%;
    background: url(../images/ic-lock.png) no-repeat center #fff;
    width: 80px;
    height: 80px;
    z-index: 1; }
  .b-authorization .f-form {
    width: 100%;
    max-width: 320px;
    margin: 0 auto; }
    .b-authorization .f-form .g-title {
      text-align: center; }
    .b-authorization .f-form .subtitle {
      text-align: center;
      font-size: .8em;
      margin-bottom: 45px; }
    .b-authorization .f-form .recover {
      text-align: center;
      font-size: .8em;
      color: #7f7f7f;
      margin-top: 40px; }
      .b-authorization .f-form .recover .link {
        border-bottom: 1px solid #0fa5eb; }
        .b-authorization .f-form .recover .link:hover {
          border-bottom-color: transparent; }

.f-form .f-element {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .f-form .f-element + .f-element {
    margin-top: 23px; }
  .f-form .f-element .f-label {
    font-size: .9em;
    margin-bottom: 19px;
    color: #7f7f7f;
    width: 100%; }
  .f-form .f-element .f-control {
    width: 100%; }
    .f-form .f-element .f-control .f-input, .f-form .f-element .f-control .f-textarea, .f-form .f-element .f-control .f-select {
      width: 100%;
      border: none;
      border-radius: 0;
      outline: 0 none;
      padding: 0;
      color: #7f7f7f;
      font-size: .9em;
      background: #fff;
      font-family: "HelveticaNeueCyr-Roman";
      -webkit-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      background-color: #fff;
      padding: 0 20px;
      border: 1px solid #dadada;
      font-size: .9em;
      border-radius: 4px; }
      .f-form .f-element .f-control .f-input::-webkit-input-placeholder, .f-form .f-element .f-control .f-textarea::-webkit-input-placeholder, .f-form .f-element .f-control .f-select::-webkit-input-placeholder {
        color: #7f7f7f; }
      .f-form .f-element .f-control .f-input:focus, .f-form .f-element .f-control .f-textarea:focus, .f-form .f-element .f-control .f-select:focus {
        border-color: #0cb4a5;
        -webkit-box-shadow: 0 0 12px 4px rgba(154, 214, 209, 0.5);
        box-shadow: 0 0 12px 4px rgba(154, 214, 209, 0.5); }
      .f-form .f-element .f-control .f-input.error, .f-form .f-element .f-control .f-textarea.error, .f-form .f-element .f-control .f-select.error {
        border-color: red; }
        .f-form .f-element .f-control .f-input.error:focus, .f-form .f-element .f-control .f-textarea.error:focus, .f-form .f-element .f-control .f-select.error:focus {
          border-color: red;
          -webkit-box-shadow: 0 0 12px 4px rgba(255, 0, 0, 0.5);
          box-shadow: 0 0 12px 4px rgba(255, 0, 0, 0.5); }
    .f-form .f-element .f-control .f-input, .f-form .f-element .f-control .f-select {
      height: 64px; }
    .f-form .f-element .f-control .f-select {
      cursor: pointer; }
    .f-form .f-element .f-control .f-textarea {
      height: 94px;
      padding: 8px 12px;
      border-bottom: 1px solid #dadada; }
    .f-form .f-element .f-control.search {
      position: relative; }
      .f-form .f-element .f-control.search .f-search {
        height: 64px;
        width: 100%;
        padding: 0 55px 0 25px;
        border-radius: 32px;
        background-color: #fff;
        outline: 0 none;
        border: none;
        -webkit-box-shadow: 0 0 12px 4px rgba(216, 216, 216, 0.5);
        box-shadow: 0 0 12px 4px rgba(216, 216, 216, 0.5);
        font-size: .9em;
        font-family: "HelveticaNeueCyr-Roman"; }
      .f-form .f-element .f-control.search .f-search-button {
        display: inline-block;
        width: 25px;
        height: 64px;
        position: absolute;
        top: 0;
        right: 25px;
        background: url(../images/ic-search.png) no-repeat center;
        border: none;
        cursor: pointer;
        -webkit-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out; }
        .f-form .f-element .f-control.search .f-search-button:hover {
          opacity: .8; }

.f-form .f-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  background: #0cb4a5;
  font-family: "HelveticaNeueCyr-Bold";
  font-size: .7em;
  text-transform: uppercase;
  border-radius: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  height: 64px;
  -webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out; }
  .f-form .f-submit:hover {
    opacity: .8; }

.b-clients {
  padding: 50px 0 90px; }
  .b-clients .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 49px; }
    .b-clients .header .buttons .g-button + .g-button {
      margin-left: 9px; }
    .b-clients .header .controls {
      margin-left: 20px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .b-clients .header .controls .f-form {
        width: 356px; }
      .b-clients .header .controls .g-button {
        margin-left: 49px; }
