.g-container {
	max-width: 1260px;
	min-width: 320px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $medium) {
		max-width: 100%;
	}
}

.g-title {
	font-size: 1.8em;
	margin-bottom: 25px;
}

.g-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.g-auth-page {
	background: url(../images/auth-bg.png) no-repeat center center $slate;
	background-size: auto 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.g-button {
	display: inline-flex;
	height: 64px;
	padding: 5px 25px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: $all-transition;
	font-family: $f-bold;
	font-size: .7em;
	color: $green;
	border: 1px solid $green;
	border-radius: 32px;
	min-width: 156px;
	text-transform: uppercase;

	&:hover {
		opacity: .8;
		color: $green;
	}

	&.green {
		background-color: $green;
		color: $white;
		box-shadow: 0 0 12px 6px transparentize($green2, .3);

		&:hover {
			color: $white;
		}
	}

	&.add {
		background: url(../images/ic-add.png) no-repeat center $green;
		color: $white;
		box-shadow: 0 0 12px 6px transparentize($green2, .3);
		min-width: 64px;

		&:hover {
			color: $white;
		}
	}
}