@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Medium';
    src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url(../fonts/HelveticaNeueCyr-Light.ttf);
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url(../fonts/HelveticaNeueCyr-Bold.ttf);
    font-weight:normal;
    font-style:normal;
}

body {
	font-family: $f-regular;
	font-size: $font-default;
	color: $dark;
    background: $slate;
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
}

a {
	transition: $all-transition;
	color: $blue;

	&:hover {
		opacity: .8;
        color: $blue;
        text-decoration: none;
	}
}