// colors
$white: #fff;
$black: #000;
$dark: #494949;
$grey: #a3a3a3;
$grey2: #dadada;
$steel: #7f7f7f;
$slate: #eaeef1;
$green: #0cb4a5;
$green2: #9ad6d1;
$blue: #0fa5eb;
$shadow: #d8d8d8;

// fonts
$f-regular: 'HelveticaNeueCyr-Roman';
$f-medium: 'HelveticaNeueCyr-Medium';
$f-light: 'HelveticaNeueCyr-Light';
$f-bold: 'HelveticaNeueCyr-Bold';

$font-default: 20px;

//transitions
$all-transition: all .2s ease-in-out;
$slow-all-transition: all .6s ease-in-out;

//screen sizes
$extraSmall: 320px;
$small: 575px;
$medium: 767px;
$large: 991px;
$extraLarge: 1140px;