.b-authorization {
    width: 100%;
    max-width: 615px;
    margin: 0 auto;
    background-color: $white;
    padding: 83px 16px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 12px 4px transparentize($shadow, .5);

    &:before {
        content: '';
        position: absolute;
        top: -40px;
        left: 50%;
        margin-left: -40px;
        border-radius: 50%;
        background: url(../images/ic-lock.png) no-repeat center $white;
        width: 80px;
        height: 80px;
        z-index: 1;
    }

    .f-form {
        width: 100%;
        max-width: 320px;
        margin: 0 auto;

        .g-title {
            text-align: center;
        }

        .subtitle {
            text-align: center;
            font-size: .8em;
            margin-bottom: 45px;
        }

        .recover {
            text-align: center;
            font-size: .8em;
            color: $steel;
            margin-top: 40px;

            .link {
                border-bottom: 1px solid $blue;

                &:hover {
                    border-bottom-color: transparent;
                }
            }
        }
    }
}