.b-clients {
    padding: 50px 0 90px;

    .header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 49px;

        .buttons {

            .g-button {

                & + .g-button {
                    margin-left: 9px;
                }
            }
        }

        .controls {
            margin-left: 20px;
            display: flex;

            .f-form {
                width: 356px;
            }

            .g-button {
                margin-left: 49px;
            }
        }
    }
}