.f-form {

    .f-element {
        width: 100%;
        display: flex;
        flex-direction: column;

        & + .f-element {
            margin-top: 23px;
        }

        .f-label {
            font-size: .9em;
            margin-bottom: 19px;
            color: $steel;
            width: 100%;
        }

        .f-control {
            width: 100%;

            .f-input, .f-textarea, .f-select {
                width: 100%;
                border: none;
                border-radius: 0;
                outline: 0 none;
                padding: 0;
                color: $steel;
                font-size: .9em;
                background: $white;
                font-family: $f-regular;
                transition: all .3s ease-in-out;
                background-color: $white;
                padding: 0 20px;
                border: 1px solid $grey2;
                font-size: .9em;
                border-radius: 4px;

                &::-webkit-input-placeholder {
                    color: $steel;
                }

                &:focus {
                    border-color: $green;
                    box-shadow: 0 0 12px 4px transparentize($green2, .5);
                }

                &.error {
                    border-color: red;

                    &:focus {
                        border-color: red;
                        box-shadow: 0 0 12px 4px transparentize(red, .5);
                    }
                }
            }

            .f-input, .f-select {
                height: 64px;
            }

            .f-select {
                cursor: pointer;
            }

            .f-textarea {
                height: 94px;
                padding: 8px 12px;
                border-bottom: 1px solid $grey2;
            }

            &.search {
                position: relative;

                .f-search {
                    height: 64px;
                    width: 100%;
                    padding: 0 55px 0 25px;
                    border-radius: 32px;
                    background-color: $white;
                    outline: 0 none;
                    border: none;
                    box-shadow: 0 0 12px 4px transparentize($shadow, .5);
                    font-size: .9em;
                    font-family: $f-regular;
                }

                .f-search-button {
                    display: inline-block;
                    width: 25px;
                    height: 64px;
                    position: absolute;
                    top: 0;
                    right: 25px;
                    background: url(../images/ic-search.png) no-repeat center;
                    border: none;
                    cursor: pointer;
                    transition: opacity .2s ease-in-out;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
    }

    .f-submit {
        display: flex;
        align-items: center;
        margin-top: 40px;
        justify-content: center;
        color: $white;
        background: $green;
        font-family: $f-bold;
        font-size: .7em;
        text-transform: uppercase;
        border-radius: 2px;
        width: 100%;
        border: none;
        cursor: pointer;
        height: 64px;
        transition: opacity .3s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }
}